# Лабораторна робота №2 з дисципліни "Штучні нейронні мережі"
### Виконав Чистяков Данило

In [1]:
# imports
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler


import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

2024-10-21 00:00:19.067945: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-10-21 00:00:19.086239: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-10-21 00:00:19.091257: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-10-21 00:00:19.104194: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-10-21 00:00:19.968555: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

### Підготовка датасету

In [4]:
df = pd.read_csv('./data/Student_Performance.csv')
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [16]:
df.describe()

,hours_studied,previous_scores,extracurricular_activities,sleep_hours,sample_question_papers_practiced,performance_index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,0.494800,6.530600,4.583300,55.224800
std,2.589309,17.343152,0.499998,1.695863,2.867348,19.212558
min,1.000000,40.000000,0.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,0.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,0.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,1.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,1.000000,9.000000,9.000000,100.000000

In [5]:
df.columns = (df.columns.str.strip().str.lower().str.replace(" ", "_").str.replace(r'\W', ''))

In [6]:
df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   hours_studied                     10000 non-null  int64
 1   previous_scores                   10000 non-null  int64
 2   extracurricular_activities        10000 non-null  object
 3   sleep_hours                       10000 non-null  int64
 4   sample_question_papers_practiced  10000 non-null  int64
 5   performance_index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [7]:
df['extracurricular_activities'].unique()

array(['Yes', 'No'], dtype=object)

In [8]:
replace_d = {'Yes':1, "No":0}
df['extracurricular_activities'] = df['extracurricular_activities'].replace(replace_d)

C:\Users\Danik\AppData\Local\Temp\ipykernel_1060\2457132054.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['extracurricular_activities'] = df['extracurricular_activities'].replace(replace_d)

In [9]:
df.head()

,hours_studied,previous_scores,extracurricular_activities,sleep_hours,sample_question_papers_practiced,performance_index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0

In [12]:
X = df.drop('performance_index', axis = 1)
y = df.performance_index

,hours_studied,previous_scores,extracurricular_activities,sleep_hours,sample_question_papers_practiced
0,7,99,1,9,1
1,4,82,0,4,2
2,8,51,1,7,2
3,5,52,1,5,2
4,7,75,0,8,5

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=17)

In [15]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

### Побудова нейромережі

In [39]:
def createModel():
    model = Sequential()
    model.add(Dense(64, activation='relu', input_shape=(X.shape[1],)))
    model.add(Dense(32, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error', metrics=["mean_squared_error"])
    return model

In [40]:
model = createModel()
model.fit(X_train, y_train, epochs = 50, batch_size = 32)

Epoch 1/50

w:\University\Artifical_intellegence_systems\AISVenv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 716us/step - loss: 2623.1978 - mean_squared_error: 2623.1978
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 733us/step - loss: 40.5881 - mean_squared_error: 40.5881
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 730us/step - loss: 28.3101 - mean_squared_error: 28.3101
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 739us/step - loss: 20.1255 - mean_squared_error: 20.1255
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 748us/step - loss: 14.3743 - mean_squared_error: 14.3743
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 714us/step - loss: 11.2312 - mean_squared_error: 11.2312
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 705us/step - loss: 9.2005 - mean_squared_error: 9.2005
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 730us/step - loss: 7.5387 - mean_squared_error: 7.5387
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 713us/step - loss: 6.6672 - mean_squared_error: 6.6672
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 690us/step - loss: 6.3837 - mean_squared_error: 6.3837
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - loss: 5.6671 - mean_squared_error: 5.6671
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 758us/step - loss: 5.2098 - mean_squared_error: 5.2098
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 748us/step - loss: 4.9017 - mean_squared_error: 4.9017
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 753us/step - loss: 4.6355 - mean_squared_error: 4.6355
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 871us/step - loss: 4.5176 - mean_squared_error: 4.5176
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 714us/step - loss: 4.3871 - mean_squared_error: 4.3871
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 785us/step - loss: 4.3308 - mean_squared_error: 4.3308
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 793us/step - loss: 4.3830 - mean_squared_error: 4.3830
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 753us/step - loss: 4.2672 - mean_squared_error: 4.2672
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - loss: 4.3600 - mean_squared_error: 4.3600
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 782us/step - loss: 4.5009 - mean_squared_error: 4.5009
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 719us/step - loss: 4.3058 - mean_squared_error: 4.3058
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 751us/step - loss: 4.1860 - mean_squared_error: 4.1860
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 728us/step - loss: 4.3734 - mean_squared_error: 4.3734
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 745us/step - loss: 4.3278 - mean_squared_error: 4.3278
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 704us/step - loss: 4.3449 - mean_squared_error: 4.3449
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - loss: 4.2390 - mean_squared_error: 4.2390
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 738us/step - loss: 4.2927 - mean_squared_error: 4.2927
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 722us/step - loss: 4.3324 - mean_squared_error: 4.3324
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 741us/step - loss: 4.3130 - mean_squared_error: 4.3130
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 687us/step - loss: 4.3770 - mean_squared_error: 4.3770
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 728us/step - loss: 4.2750 - mean_squared_error: 4.2750
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 766us/step - loss: 4.3962 - mean_squared_error: 4.3962
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 850us/step - loss: 4.3520 - mean_squared_error: 4.3520
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 733us/step - loss: 4.3164 - mean_squared_error: 4.3164
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 697us/step - loss: 4.5026 - mean_squared_error: 4.5026
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 729us/step - loss: 4.3804 - mean_squared_error: 4.3804
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 709us/step - loss: 4.1096 - mean_squared_error: 4.1096
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 728us/step - loss: 4.2816 - mean_squared_error: 4.2816
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 731us/step - loss: 4.2076 - mean_squared_error: 4.2076
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 705us/step - loss: 4.3170 - mean_squared_error: 4.3170
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 752us/step - loss: 4.2072 - mean_squared_error: 4.2072
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 671us/step - loss: 4.3547 - mean_squared_error: 4.3547
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - loss: 4.2053 - mean_squared_error: 4.2053
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 688us/step - loss: 4.3306 - mean_squared_error: 4.3306
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 732us/step - loss: 4.2559 - mean_squared_error: 4.2559
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 785us/step - loss: 4.2643 - mean_squared_error: 4.2643
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 729us/step - loss: 4.4647 - mean_squared_error: 4.4647
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 753us/step - loss: 4.2785 - mean_squared_error: 4.2785
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 745us/step - loss: 4.2999 - mean_squared_error: 4.2999

In [43]:
y_train_pred = model.predict(X_train)
r2_train = r2_score(y_train, y_train_pred)
print(f'R² на тренувальній вибірці: {r2_train}')

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 609us/step
R² на тренувальній вибірці: 0.9873500829037964

In [42]:
y_pred = model.predict(X_test)
r2 = r2_score(y_test, y_pred)
print(f'R²: {r2}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step
R²: 0.9865056556033049

### Крос-валідація

In [51]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
results = []

In [53]:
for train_index, test_index in kf.split(X):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    # Створіть нову модель для кожного фолду
    model = createModel()
    
    # Навчіть модель
    model.fit(X_train, y_train, epochs=50, batch_size=32, verbose=0)
    
    # Передбачте значення для тестових даних
    y_pred = model.predict(X_test)
    
    # Обчисліть R² для кожного фолду
    r2 = r2_score(y_test, y_pred)
    results.append(r2)

# Виведіть результати
print(f'R² на кожному фолді: {results}')
print(f'Середнє R²: {np.mean(results)}')

w:\University\Artifical_intellegence_systems\AISVenv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

w:\University\Artifical_intellegence_systems\AISVenv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

w:\University\Artifical_intellegence_systems\AISVenv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

w:\University\Artifical_intellegence_systems\AISVenv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

w:\University\Artifical_intellegence_systems\AISVenv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
R² на кожному фолді: [0.9886932027537306, 0.9866139922220336, 0.9888389074817452, 0.9847050903779142, 0.9875211909177694]
Середнє R²: 0.9872744767506386